{
    "openapi": "3.0.4",
    "info": {
        "title": "Microsoft Graph — SharePoint Sites",
        "description": "SharePoint subset of the Microsoft Graph v1.0 OpenAPI specification (generated from graphexplorer.yaml).",
        "version": "v1.0",
        "x-ms-generated-by": {
            "toolName": "Microsoft.OpenApi.OData",
            "toolVersion": "0.0.0.0"
        }
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0/sites"
        }
    ],
    "security": [
        {
            "azureOAuth2": [
                "Sites.Read.All",
                "Sites.ReadWrite.All"
            ]
        }
    ],
    "tags": [
        {
            "name": "sites.site",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.itemAnalytics",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.columnDefinition",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.contentType",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.user",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.drive",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.baseItem",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.list",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.site.Functions",
            "x-ms-docs-toc-type": "container"
        },
        {
            "name": "sites.onenote",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.richLongRunningOperation",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.baseSitePage",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.permission",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.store",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "sites.site.Actions",
            "x-ms-docs-toc-type": "container"
        }
    ],
    "paths": {
        "/": {
            "description": "Provides operations to manage the collection of site entities.",
            "get": {
                "tags": [
                    "sites.site"
                ],
                "summary": "List sites",
                "description": "List all available sites in an organization. Specific filter criteria and query options are also supported and described below: In addition, you can use a $search query against the \/sites collection to find sites matching given keywords.\r\nIf you want to list all sites across all geographies, refer to getAllSites. For more guidance about building applications that use site discovery for scanning purposes, see Best practices for discovering files and detecting changes at scale.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/site-list?view=graph-rest-1.0"
                },
                "operationId": "ListSite",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "createdBy",
                                    "createdBy desc",
                                    "createdDateTime",
                                    "createdDateTime desc",
                                    "description",
                                    "description desc",
                                    "eTag",
                                    "eTag desc",
                                    "lastModifiedBy",
                                    "lastModifiedBy desc",
                                    "lastModifiedDateTime",
                                    "lastModifiedDateTime desc",
                                    "name",
                                    "name desc",
                                    "parentReference",
                                    "parentReference desc",
                                    "webUrl",
                                    "webUrl desc",
                                    "displayName",
                                    "displayName desc",
                                    "error",
                                    "error desc",
                                    "isPersonalSite",
                                    "isPersonalSite desc",
                                    "root",
                                    "root desc",
                                    "sharepointIds",
                                    "sharepointIds desc",
                                    "siteCollection",
                                    "siteCollection desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "displayName",
                                    "error",
                                    "isPersonalSite",
                                    "root",
                                    "sharepointIds",
                                    "siteCollection",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "analytics",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "drives",
                                    "externalColumns",
                                    "items",
                                    "lists",
                                    "onenote",
                                    "operations",
                                    "pages",
                                    "permissions",
                                    "sites",
                                    "termStore",
                                    "termStores"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "analytics",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "drives",
                                    "externalColumns",
                                    "items",
                                    "lists",
                                    "onenote",
                                    "operations",
                                    "pages",
                                    "permissions",
                                    "sites",
                                    "termStore",
                                    "termStores"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.siteCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            }
        },
        "/{siteId}": {
            "description": "Provides operations to manage the collection of site entities.",
            "get": {
                "tags": [
                    "sites.site"
                ],
                "summary": "Get a site resource",
                "description": "Retrieve properties and relationships for a site resource.\r\nA site resource represents a team site in SharePoint.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/site-get?view=graph-rest-1.0"
                },
                "operationId": "GetSite",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "displayName",
                                    "error",
                                    "isPersonalSite",
                                    "root",
                                    "sharepointIds",
                                    "siteCollection",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "analytics",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "drives",
                                    "externalColumns",
                                    "items",
                                    "lists",
                                    "onenote",
                                    "operations",
                                    "pages",
                                    "permissions",
                                    "sites",
                                    "termStore",
                                    "termStores"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "analytics",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "drives",
                                    "externalColumns",
                                    "items",
                                    "lists",
                                    "onenote",
                                    "operations",
                                    "pages",
                                    "permissions",
                                    "sites",
                                    "termStore",
                                    "termStores"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Site"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "sites.site"
                ],
                "summary": "Update entity in sites",
                "operationId": "UpdateSite",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    }
                ],
                "requestBody": {
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Site"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successfully updating the specified SharePoint site entity."
            }
        },
        "/{siteId}/analytics": {
            "description": "Provides operations to manage the analytics property of the microsoft.graph.site entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get analytics from sites",
                "description": "Analytics about the view activities that took place on this site.",
                "operationId": "GetAnalytics",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "allTime",
                                    "itemActivityStats",
                                    "lastSevenDays"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "allTime",
                                    "itemActivityStats",
                                    "lastSevenDays"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemAnalytics"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Delete navigation property analytics for sites",
                "operationId": "DeleteAnalytics",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successfully deleting the analytics navigation property for the specified site."
            },
            "patch": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Update the navigation property analytics in sites",
                "operationId": "UpdateAnalytics",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ItemAnalytics"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successfully updating the analytics navigation property for the specified site."
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/microsoft.graph.getByPath(path='{path}')/analytics"
            ]
        },
        "/{siteId}/analytics/allTime": {
            "description": "Provides operations to manage the allTime property of the microsoft.graph.itemAnalytics entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get allTime from sites",
                "operationId": "analytics.GetAllTime",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "access",
                                    "create",
                                    "delete",
                                    "edit",
                                    "endDateTime",
                                    "incompleteData",
                                    "isTrending",
                                    "move",
                                    "startDateTime",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemActivityStat"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns the all-time activity statistics for the specified site's analytics."
            }
        },
        "/{siteId}/analytics/itemActivityStats": {
            "description": "Provides operations to manage the itemActivityStats property of the microsoft.graph.itemAnalytics entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get itemActivityStats from sites",
                "operationId": "analytics.ListItemActivityStats",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "access",
                                    "access desc",
                                    "create",
                                    "create desc",
                                    "delete",
                                    "delete desc",
                                    "edit",
                                    "edit desc",
                                    "endDateTime",
                                    "endDateTime desc",
                                    "incompleteData",
                                    "incompleteData desc",
                                    "isTrending",
                                    "isTrending desc",
                                    "move",
                                    "move desc",
                                    "startDateTime",
                                    "startDateTime desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "access",
                                    "create",
                                    "delete",
                                    "edit",
                                    "endDateTime",
                                    "incompleteData",
                                    "isTrending",
                                    "move",
                                    "startDateTime",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.itemActivityStatCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns a collection of item activity statistics for the specified site's analytics."
            },
            "post": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Create new navigation property to itemActivityStats for sites",
                "operationId": "analytics.CreateItemActivityStats",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ItemActivityStat"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemActivityStat"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns the newly created itemActivityStats resource added to the site's analytics."
            }
        },
        "/{siteId}/analytics/itemActivityStats/{itemActivityStatId}": {
            "description": "Provides operations to manage the itemActivityStats property of the microsoft.graph.itemAnalytics entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get itemActivityStats from sites",
                "operationId": "analytics.GetItemActivityStats",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "access",
                                    "create",
                                    "delete",
                                    "edit",
                                    "endDateTime",
                                    "incompleteData",
                                    "isTrending",
                                    "move",
                                    "startDateTime",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemActivityStat"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns the specified item activity statistics record from the site's analytics."
            },
            "delete": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Delete navigation property itemActivityStats for sites",
                "operationId": "analytics.DeleteItemActivityStats",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Confirms deletion of the specified itemActivityStats resource from the site's analytics."
            },
            "patch": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Update the navigation property itemActivityStats in sites",
                "operationId": "analytics.UpdateItemActivityStats",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ItemActivityStat"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Confirms the update applied to the specified itemActivityStats resource in the site's analytics."
            }
        },
        "/{siteId}/analytics/itemActivityStats/{itemActivityStatId}/activities": {
            "description": "Provides operations to manage the activities property of the microsoft.graph.itemActivityStat entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get activities from sites",
                "description": "Exposes the itemActivities represented in this itemActivityStat resource.",
                "operationId": "analytics.itemActivityStats.ListActivities",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "access",
                                    "access desc",
                                    "activityDateTime",
                                    "activityDateTime desc",
                                    "actor",
                                    "actor desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "access",
                                    "activityDateTime",
                                    "actor",
                                    "driveItem"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "driveItem"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.itemActivityCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Create new navigation property to activities for sites",
                "operationId": "analytics.itemActivityStats.CreateActivities",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ItemActivity"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemActivity"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns the newly created activity resource added to the specified itemActivityStats."
            }
        },
        "/{siteId}/analytics/itemActivityStats/{itemActivityStatId}/activities/{itemActivityId}": {
            "description": "Provides operations to manage the activities property of the microsoft.graph.itemActivityStat entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get activities from sites",
                "description": "Exposes the itemActivities represented in this itemActivityStat resource.",
                "operationId": "analytics.itemActivityStats.GetActivities",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "itemActivityId",
                        "in": "path",
                        "description": "The unique identifier of itemActivity",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivity"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "access",
                                    "activityDateTime",
                                    "actor",
                                    "driveItem"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "driveItem"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemActivity"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Delete navigation property activities for sites",
                "operationId": "analytics.itemActivityStats.DeleteActivities",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "itemActivityId",
                        "in": "path",
                        "description": "The unique identifier of itemActivity",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivity"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Confirms deletion of the specified activity from the itemActivityStats resource."
            },
            "patch": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Update the navigation property activities in sites",
                "operationId": "analytics.itemActivityStats.UpdateActivities",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "itemActivityId",
                        "in": "path",
                        "description": "The unique identifier of itemActivity",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivity"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ItemActivity"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Confirms the update applied to the specified activity within the itemActivityStats resource."
            }
        },
        "/{siteId}/analytics/itemActivityStats/{itemActivityStatId}/activities/{itemActivityId}/driveItem": {
            "description": "Provides operations to manage the driveItem property of the microsoft.graph.itemActivity entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get driveItem from sites",
                "description": "Exposes the driveItem that was the target of this activity.",
                "operationId": "analytics.itemActivityStats.activities.GetDriveItem",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "itemActivityId",
                        "in": "path",
                        "description": "The unique identifier of itemActivity",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivity"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "audio",
                                    "bundle",
                                    "content",
                                    "cTag",
                                    "deleted",
                                    "file",
                                    "fileSystemInfo",
                                    "folder",
                                    "image",
                                    "location",
                                    "malware",
                                    "package",
                                    "pendingOperations",
                                    "photo",
                                    "publication",
                                    "remoteItem",
                                    "root",
                                    "searchResult",
                                    "shared",
                                    "sharepointIds",
                                    "size",
                                    "specialFolder",
                                    "video",
                                    "webDavUrl",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "analytics",
                                    "children",
                                    "listItem",
                                    "permissions",
                                    "retentionLabel",
                                    "subscriptions",
                                    "thumbnails",
                                    "versions",
                                    "workbook"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "analytics",
                                    "children",
                                    "listItem",
                                    "permissions",
                                    "retentionLabel",
                                    "subscriptions",
                                    "thumbnails",
                                    "versions",
                                    "workbook"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DriveItem"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            }
        },
        "/{siteId}/analytics/itemActivityStats/{itemActivityStatId}/activities/{itemActivityId}/driveItem/content": {
            "description": "Provides operations to manage the media for the site entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get content for the navigation property driveItem from sites",
                "description": "The content stream, if the item represents a file.",
                "operationId": "analytics.itemActivityStats.activities.GetDriveItemContent",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "itemActivityId",
                        "in": "path",
                        "description": "The unique identifier of itemActivity",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivity"
                    },
                    {
                        "name": "$format",
                        "in": "query",
                        "description": "Format of the content",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "dollarFormat"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved media content",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "put": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Update content for the navigation property driveItem in sites",
                "description": "The content stream, if the item represents a file.",
                "operationId": "analytics.itemActivityStats.activities.UpdateDriveItemContent",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "name": "itemActivityId",
                        "in": "path",
                        "description": "The unique identifier of itemActivity",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivity"
                    }
                ],
                "requestBody": {
                    "description": "New media content",
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/{siteId}/analytics/itemActivityStats/{itemActivityStatId}/activities/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get the number of the resource",
                "operationId": "analytics.itemActivityStats.activities.GetCount-972d",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "itemActivityStatId",
                        "in": "path",
                        "description": "The unique identifier of itemActivityStat",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "itemActivityStat"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns the total count of activities associated with the specified itemActivityStats resource."
            }
        },
        "/{siteId}/analytics/itemActivityStats/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get the number of the resource",
                "operationId": "analytics.itemActivityStats.GetCount-c4ac",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns the total count of itemActivityStats resources for the specified site's analytics."
            }
        },
        "/{siteId}/analytics/lastSevenDays": {
            "description": "Provides operations to manage the lastSevenDays property of the microsoft.graph.itemAnalytics entity.",
            "get": {
                "tags": [
                    "sites.itemAnalytics"
                ],
                "summary": "Get lastSevenDays from sites",
                "operationId": "analytics.GetLastSevenDays",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "access",
                                    "create",
                                    "delete",
                                    "edit",
                                    "endDateTime",
                                    "incompleteData",
                                    "isTrending",
                                    "move",
                                    "startDateTime",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "activities"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemActivityStat"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns the activity statistics for the last seven days for the specified site's analytics."
            }
        },
        "/{siteId}/columns": {
            "description": "Provides operations to manage the columns property of the microsoft.graph.site entity.",
            "get": {
                "tags": [
                    "sites.columnDefinition"
                ],
                "summary": "List columns in a site",
                "description": "Get the collection of columns represented as columnDefinition resources in a site.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/site-list-columns?view=graph-rest-1.0"
                },
                "operationId": "ListColumns",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "boolean",
                                    "boolean desc",
                                    "calculated",
                                    "calculated desc",
                                    "choice",
                                    "choice desc",
                                    "columnGroup",
                                    "columnGroup desc",
                                    "contentApprovalStatus",
                                    "contentApprovalStatus desc",
                                    "currency",
                                    "currency desc",
                                    "dateTime",
                                    "dateTime desc",
                                    "defaultValue",
                                    "defaultValue desc",
                                    "description",
                                    "description desc",
                                    "displayName",
                                    "displayName desc",
                                    "enforceUniqueValues",
                                    "enforceUniqueValues desc",
                                    "geolocation",
                                    "geolocation desc",
                                    "hidden",
                                    "hidden desc",
                                    "hyperlinkOrPicture",
                                    "hyperlinkOrPicture desc",
                                    "indexed",
                                    "indexed desc",
                                    "isDeletable",
                                    "isDeletable desc",
                                    "isReorderable",
                                    "isReorderable desc",
                                    "isSealed",
                                    "isSealed desc",
                                    "lookup",
                                    "lookup desc",
                                    "name",
                                    "name desc",
                                    "number",
                                    "number desc",
                                    "personOrGroup",
                                    "personOrGroup desc",
                                    "propagateChanges",
                                    "propagateChanges desc",
                                    "readOnly",
                                    "readOnly desc",
                                    "required",
                                    "required desc",
                                    "sourceContentType",
                                    "sourceContentType desc",
                                    "term",
                                    "term desc",
                                    "text",
                                    "text desc",
                                    "thumbnail",
                                    "thumbnail desc",
                                    "type",
                                    "type desc",
                                    "validation",
                                    "validation desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "boolean",
                                    "calculated",
                                    "choice",
                                    "columnGroup",
                                    "contentApprovalStatus",
                                    "currency",
                                    "dateTime",
                                    "defaultValue",
                                    "description",
                                    "displayName",
                                    "enforceUniqueValues",
                                    "geolocation",
                                    "hidden",
                                    "hyperlinkOrPicture",
                                    "indexed",
                                    "isDeletable",
                                    "isReorderable",
                                    "isSealed",
                                    "lookup",
                                    "name",
                                    "number",
                                    "personOrGroup",
                                    "propagateChanges",
                                    "readOnly",
                                    "required",
                                    "sourceContentType",
                                    "term",
                                    "text",
                                    "thumbnail",
                                    "type",
                                    "validation",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.columnDefinitionCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "sites.columnDefinition"
                ],
                "summary": "Create a columnDefinition in a site",
                "description": "Create a column for a site with a request that specifies a columnDefinition.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/site-post-columns?view=graph-rest-1.0"
                },
                "operationId": "CreateColumns",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ColumnDefinition"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ColumnDefinition"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/microsoft.graph.getByPath(path='{path}')/columns"
            ]
        },
        "/{siteId}/columns/{columnDefinitionId}": {
            "description": "Provides operations to manage the columns property of the microsoft.graph.site entity.",
            "get": {
                "tags": [
                    "sites.columnDefinition"
                ],
                "summary": "Get columns from sites",
                "description": "The collection of column definitions reusable across lists under this site.",
                "operationId": "GetColumns",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "columnDefinitionId",
                        "in": "path",
                        "description": "The unique identifier of columnDefinition",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "columnDefinition"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "boolean",
                                    "calculated",
                                    "choice",
                                    "columnGroup",
                                    "contentApprovalStatus",
                                    "currency",
                                    "dateTime",
                                    "defaultValue",
                                    "description",
                                    "displayName",
                                    "enforceUniqueValues",
                                    "geolocation",
                                    "hidden",
                                    "hyperlinkOrPicture",
                                    "indexed",
                                    "isDeletable",
                                    "isReorderable",
                                    "isSealed",
                                    "lookup",
                                    "name",
[...]
